<template>
<div>
    <div class="col-10">

        <b-alert :show="dismissCountDown"
                 dismissible
                 :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>

        <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >

        <dl class="row jh-entity-details">
            <dt>

                <label class="form-control-label" v-text="$t('coursgroupesApp.group.number')" for="group-number">Number</label>
            </dt>
            <dd>
                <div id="group-number-display" class="details-display" v-if="!numSelected && !creationMode" @click="selected(NUMBER)">{{group.number}}</div>
                <input v-if="numSelected || creationMode" type="number" class="form-control" name="number" id="group-number"
                       :class="{'valid': !$v.group.number.$invalid, 'invalid': $v.group.number.$invalid }" v-model.number="$v.group.number.$model"  required/>
                <div v-if="$v.group.number.$anyDirty && $v.group.number.$invalid">
                    <small class="form-text text-danger" v-if="!$v.group.number.required" v-text="$t('entity.validation.required')">
                        This field is required.
                    </small>
                    <small class="form-text text-danger" v-if="!$v.group.number.min" v-text="$t('entity.validation.min', {min: 0})">
                        This field should be at least 0.
                    </small>
                    <small class="form-text text-danger" v-if="!$v.group.number.max" v-text="$t('entity.validation.max', {max: 99})">
                        This field cannot be longer than 99 characters.
                    </small>
                    <small class="form-text text-danger" v-if="!$v.group.number.numeric" v-text="$t('entity.validation.number')">
                        This field should be a number.
                    </small>
                </div>
            </dd>

            <dt>
                <label class="form-control-label" v-text="$t('coursgroupesApp.group.description')" for="group-description">Description</label>
            </dt>
            <dd>
                <div class="details-display" v-if="!descSelected && !creationMode" @click="selected(DESCRIPTION)">{{group.description}}</div>
                <textarea v-if="descSelected || creationMode" class="form-control" name="description" id="group-description"
                          :class="{'valid': !$v.group.description.$invalid, 'invalid': $v.group.description.$invalid }" v-model="$v.group.description.$model" ></textarea>
            </dd>
            <dt>
                <label class="form-control-label" v-text="$t('coursgroupesApp.group.students')" for="group-description">Students</label>
                <br />

            </dt>
            <dd>
                <div style="max-height: 250px;overflow-y: scroll;border: 1px solid #eee;margin-bottom: 20px;"  v-if="!creationMode && !modifStudent">
                    <p  v-for="(student, i) in group.students" :key="student.id" >{{student.email}}</p>
                </div>
                <div class="form-group" v-if="creationMode || modifStudent">
                    <select class="form-control" id="group-student" multiple name="student" v-model="group.students" style="height: 250px;">
                        <option v-bind:value="getSelected(group.students, studentOption)" v-for="studentOption in students" :key="studentOption.id">{{studentOption.email}}</option>
                    </select>
                </div>


                <button @click="prepareModification()" class="btn btn-secondary" v-if="!creationMode && !modifStudent">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('coursgroupesApp.group.modifyStudentList')">Edit</span>
                </button>
            </dd>

            <dt></dt>
            <dd></dd>
        </dl>


            <button v-if="numSelected || descSelected || creationMode || modifStudent" type="submit" id="save-entity" :disabled="$v.group.$invalid || isSaving" class="btn btn-primary">
                <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
            </button>
            <button v-if="numSelected || descSelected || creationMode || modifStudent" type="button" id="cancel-save" class="btn btn-primary"  v-on:click="previousState()">
                <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
            </button>
            <b-button id="group-delete-btn" v-if="!creationMode" variant="danger" @click="prepareDeleteGroup()"  class="btn btn-primary"  v-b-modal.removeEntity>
                <font-awesome-icon icon="trash"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.delete')">Delete</span>
            </b-button>
        </form>
    </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="coursgroupesApp.group.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-group-heading" v-text="$t('coursgroupesApp.group.delete.question', {'id': group.id})">Are you sure you want to delete this Group?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button id="group-confirm-delete-btn" type="button" class="btn btn-primary" v-text="$t('entity.action.delete')" v-on:click="removeGroup()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./group-view.components.ts">
</script>
