<template>
    <div>
        <div v-if="role == 'TEACHER'">
            <h3>{{ title }}</h3>
            <br/>
            <b-button
                id="create_btn"
                class="btn btn-primary" @click="$emit('create')">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span class="d-none d-md-inline" v-text="$t('entity.action.create')">create</span>
            </b-button>
            <br/><br/>
        </div>
        <b-list-group>
            <b-list-group-item
                :id="typeObj"
                v-for="d in data"
                v-if="d.cours !== null"
                :key="d.id"
                :active="selectedId == d.id ? true : false"
                class="flex-column align-items-start"
                href="#" @click="selection(d)">
                <div class="d-flex w-100 justify-content-between">
                    <h5 :id="d.number" class="mb-1">
                        {{ getTitle(d) }}</h5>
                    <small>{{ getDescAdd(d) }}</small>
                </div>
                <small>{{ getDesc(d) }}</small>
            </b-list-group-item>
        </b-list-group>
    </div>
</template>


<script>

export default {
    model: {
        prop: 'selectedObj',
        event: 'select'
    },
    props: {
        typeObj: String,
        role: String,
        selectedObj: Object,
        data: Array,
        title: String,
    },
    data() {
        return {
            selectedId: null
        }
    },
    watch: {
        selectedObj: function () {
            this.selectedId = this.selectedObj !== null ? this.selectedObj.id : null;
        }
    },
    methods: {
        getDesc(d) {
            if (this.typeObj == "c") {
                return d.description;
            } else if (this.typeObj == "g") {
                return d.description;
            } else if (this.typeObj == "s") {
                return d.name;
            } else {
                console.log("method repr not utilizable for the type " + (typeof d));
            }
        },
        getDescAdd(d) {
            if (this.typeObj == "c") {
                return d.symbol;
            } else if (this.typeObj == "g") {
                return (d.students.length + " " + this.$t('global.student-s')).toLowerCase();
            } else if (this.typeObj == "s") {
                return (d.students.length + " " + this.$t('global.student-s')).toLowerCase();
            } else {
                console.log("method repr not utilizable for the type " + (typeof d));
            }
        },
        getTitle(d) {
            if (this.typeObj == "c") {
                return d.name;
            } else if (this.typeObj == "g") {
                return d.number;
            } else if (this.typeObj == "s") {
                return d.name;
            } else {
                console.log("method repr not utilizable for the type " + (typeof d));
            }
        },
        selection(d) {
            if (this.selectedId === d.id) {
                this.$emit('select', null);
            } else {
                this.$emit('select', d);
            }
        }
    }
}
</script>
