<template>
    <b-container>
        <b-row>
            <b-col md="12">
                <b-breadcrumb>
                    <b-breadcrumb-item href="#"    @click="selection(selection(COURS, null))">
                        <font-awesome-icon icon="home"></font-awesome-icon>
                        <span id="breadcrumb-home" v-text="$t('global.menu.home')">Home</span>
                    </b-breadcrumb-item>
                    <b-breadcrumb-item href="#"  v-if="selectedCours" @click="selection(selection(GROUP, null))">
                        <span id="breadcrumb-cours" v-text="$t('coursgroupesApp.cours.home.title')">Cours</span> :
                        {{selectedCours.symbol}}
                    </b-breadcrumb-item>
                    <b-breadcrumb-item href="#" v-if="selectedGroup && selectedCours" @click="selection(selection(SUBGROUP, null))">
                        <span id="breadcrumb-groups" v-text="$t('coursgroupesApp.group.home.title')">Groupe</span> :
                        {{selectedGroup.number}}
                    </b-breadcrumb-item>
                    <b-breadcrumb-item v-if="selectedSub && selectedGroup" disabled>
                        <span id="breadcrumb-sgroupes" v-text="$t('coursgroupesApp.subGroup.home.title')">Sous-Groupe</span> :
                        {{selectedSub.name}}
                    </b-breadcrumb-item>
                </b-breadcrumb>
            </b-col>
        </b-row>
        <b-row>
            <b-col md="12" v-if="selectedCours">
                <b-link id="breadcrumb-back" v-if="selectedCours && !selectedGroup" @click="selection(selection(COURS, null))" v-text="$t('entity.action.back')">Back</b-link>
                <b-link id="breadcrumb-back" v-if="selectedGroup && !selectedSub" @click="selection(selection(GROUP, null))" v-text="$t('entity.action.back')">Back</b-link>
                <b-link id="breadcrumb-back" v-if="selectedSub" @click="selection(selection(SUBGROUP, null))" v-text="$t('entity.action.back')">Back</b-link>
                <br />
                <br />
            </b-col>
        </b-row>
        <b-row>
            <b-col md="8" v-if="selectedCours">
                     <div v-if="selectedSub && selectedGroup">
                         <h1 v-text="$t('coursgroupesApp.subGroup.home.title')"></h1>
                         <SubGroupView @remove="selection(SUBGROUP, null)" :parent="selectedGroup" :obj="selectedSub"></SubGroupView>
                    </div>
                    <div v-else-if="(selectedGroup && selectedCours) || creatingGroup">
                        <h1 v-text="$t('coursgroupesApp.group.home.title')"></h1>
                        <GroupView @save="saving(GROUP)" @remove="removing(GROUP)" :cours="selectedCours" :group="selectedGroup"></GroupView>
                    </div>
                    <div v-else-if="selectedCours">
                        <h1 v-text="$t('coursgroupesApp.cours.home.title')"></h1>
                        <CoursView @save="saving(COURS)" @cancel="canceling(COURS)" @remove="removing(COURS)" :cours="selectedCours"></CoursView>
                    </div>

            </b-col>

            <b-col md="8" v-if="! selectedCours">
                <div id="page-home">
                    <TableTest role="TEACHER" @create="creating(COURS)" @select="selection(COURS, $event)" :selectedObj="selectedCours" :data="coursList" :title="$t('global.listCourses')" :typeObj="COURS"></TableTest>
                </div>
            </b-col>

            <b-col md="4" v-if="selectedCours && ! selectedGroup">
                <div id="page-cours">
                    <TableTest role="TEACHER" @create="creating(GROUP)" @select="selection(GROUP, $event)" :selectedObj="selectedGroup" :data="groups" :title="$t('global.listGroups')" :typeObj="GROUP"></TableTest>
                </div>
            </b-col>

            <b-col  md="4" v-if="selectedGroup ">
                <div id="page-groupe">
                    <TableTest role="TEACHER" @create="creating(SUBGROUP)" @select="selection(SUBGROUP, $event)" :selectedObj="selectedSub" :data="subGroups" :title="$t('global.listSubGroups')"  :typeObj="SUBGROUP"></TableTest>
                </div>
            </b-col>

        </b-row>
    </b-container>
</template>

<script lang="ts" src="./teacher.component.ts">
</script>



