<template>
    <ul>
        <li v-for="prop in obj">
            <span v-if="!(prop instanceof Array)">{{prop}}</span>
        </li>
        <button @click="deleteCours()">Delete</button>
    </ul>


</template>

<script>

export default {
    props: {
        obj: Object,
        parent: Object
    },
    methods: {
        deleteCours: function() {
            // faire la confirmation auprès de l'utilisateur
            // si positif, on retire le groupe/cours/sous-groupe de la bd
            // et on emit un event remove :
            this.$emit('remove');
        }
    }
}

</script>
