<template>
    <div class="row justify-content-center">
        <div class="col-8">
                <div>

                    <h2>{{workshopName}}</h2>
                    <div class="table-responsive" v-if="variants && variants.length > 0">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                <th><span v-text="$t('global.field.id')">ID</span></th>
                                 <th><span v-text="$t('coursgroupesApp.variant.name')">Name</span></th>
                                 <th><span v-text="$t('coursgroupesApp.variant.description')">Description</span></th>
                                 <th></th>
                                 </tr>
                            </thead>
                            <tbody>
                            <tr v-for="variant in variants" :key="variant.id">
                                <td>{{variant.id}}</td>
                                <td>{{variant.name}}</td>
                                <td>{{variant.description}}</td>
                                <td></td>
                                    <b-button v-on:click="save(variant)" class="btn btn-sm">
                                    <span class="d-non d-md-inline" v-text="$t('entity.action.add')">Ajouter</span>
                                    </b-button>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</template>
<script lang="ts" src="./variant-view.components.ts">
</script>
