<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="subGroup">
                <h2 class="jh-entity-heading"><span v-text="$t('coursgroupesApp.subGroup.detail.title')">SubGroup</span> {{subGroup.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('coursgroupesApp.subGroup.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{subGroup.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.subGroup.student')">Student</span>
                    </dt>
                    <dd>
                        <span v-for="(student, i) in subGroup.students" :key="student.id">{{i > 0 ? ', ' : ''}}
                            <router-link :to="{name: 'StudentView', params: {studentId: student.id}}">{{student.email}}</router-link>
                        </span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.subGroup.group')">Group</span>
                    </dt>
                    <dd>
                        <div v-if="subGroup.group">
                            <router-link :to="{name: 'GroupView', params: {groupId: subGroup.group.id}}">{{subGroup.group.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="subGroup.id" :to="{name: 'SubGroupEdit', params: {subGroupId: subGroup.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./sub-group-details.component.ts">
</script>
