<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="coursgroupesApp.subGroup.home.createOrEditLabel" v-if="! subGroup.id"   v-text="$t('coursgroupesApp.subGroup.home.createLabel')">Create or edit a SubGroup</h2>
                <h2 id="coursgroupesApp.subGroup.home.createOrEditLabel" v-if="subGroup.id" v-text="$t('coursgroupesApp.subGroup.home.editLabel')">Create or edit a SubGroup</h2>

                <b-alert :show="dismissCountDown"
                         dismissible
                         :variant="alertType"
                @dismissed="dismissCountDown=0"
                @dismiss-count-down="countDownChanged">
                {{alertMessage}}
            </b-alert>

            <div>
                <div class="form-group" v-if="! subGroup.id">
                    <label for="id" v-text="$t('global.field.id')">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           v-model="subGroup.id" readonly />
                </div>


                <div class="form-group" v-if="! subGroup.id">
                    <label class="form-control-label" v-text="$t('coursgroupesApp.subGroup.name')" for="sub-group-name">Name</label>


                    <input type="text" class="form-control" name="name" id="sub-group-name"
                           :class="{'valid': !$v.subGroup.name.$invalid, 'invalid': $v.subGroup.name.$invalid }" v-model="$v.subGroup.name.$model"    required/>



                    <div v-if="$v.subGroup.name.$anyDirty && $v.subGroup.name.$invalid">
                        <small class="form-text text-danger" v-if="!$v.subGroup.name.required" v-text="$t('entity.validation.required')">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" v-if="!$v.subGroup.name.maxLength" v-text="$t('entity.validation.maxlength', {max: 30})">
                            This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>


                <div class="form-group">
                    <label v-text="$t('coursgroupesApp.subGroup.student')" for="sub-group-student">Student</label>
                    <select class="form-control" id="sub-group-student" multiple name="student" v-model="subGroup.students">
                        <option v-bind:value="getSelected(subGroup.students, studentOption)" v-for="studentOption in students" :key="studentOption.id">{{studentOption.email}}</option>
                    </select>
                </div>
                <div class="form-group"  v-if="! subGroup.id">
                    <label class="form-control-label" v-text="$t('coursgroupesApp.subGroup.group')" for="sub-group-group">Group</label>
                    <select class="form-control" id="sub-group-group" name="group" v-model="subGroup.group" required>
                        <option v-if="!subGroup.group" v-bind:value="null" selected></option>
                        <option v-bind:value="subGroup.group && groupOption.id === subGroup.group.id ? subGroup.group : groupOption" v-for="groupOption in groups" :key="groupOption.id">{{groupOption.number}}</option>
                    </select>
                </div>
                <div v-if="$v.subGroup.group.$anyDirty && $v.subGroup.group.$invalid">
                    <small class="form-text text-danger" v-if="!$v.subGroup.group.required" v-text="$t('entity.validation.required')">
                        This field is required.
                    </small>
                </div>
            </div>




            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                    <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" :disabled="$v.subGroup.$invalid || isSaving" class="btn btn-primary">
                    <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
    </template>
<script lang="ts" src="./sub-group-update.component.ts">
</script>
