<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('coursgroupesApp.subGroup.home.title')" id="sub-group-heading">Sub Groups</span>
            <router-link :to="{name: 'SubGroupCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sub-group">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('coursgroupesApp.subGroup.home.createLabel')">
                    Create a new Sub Group
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && subGroups && subGroups.length === 0">
            <span v-text="$t('coursgroupesApp.subGroup.home.notFound')">No subGroups found</span>
        </div>
        <div class="table-responsive" v-if="subGroups && subGroups.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('coursgroupesApp.subGroup.name')">Name</span></th>
                    <th><span v-text="$t('coursgroupesApp.subGroup.student')">Student</span></th>
                    <th><span v-text="$t('coursgroupesApp.subGroup.group')">Group</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="subGroup in subGroups"
                    :key="subGroup.id">
                    <td>
                        <router-link :to="{name: 'SubGroupView', params: {subGroupId: subGroup.id}}">{{subGroup.id}}</router-link>
                    </td>
                    <td>{{subGroup.name}}</td>
                    <td>
                        <span v-for="(student, i) in subGroup.students" :key="student.id">{{i > 0 ? ', ' : ''}}
                            <router-link class="form-control-static" :to="{name: 'StudentView', params: {studentId: student.id}}">{{student.email}}</router-link>
                        </span>
                    </td>
                    <td>
                        <div v-if="subGroup.group">
                            <router-link :to="{name: 'GroupView', params: {groupId: subGroup.group.id}}">{{subGroup.group.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'SubGroupView', params: {subGroupId: subGroup.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'SubGroupEdit', params: {subGroupId: subGroup.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(subGroup)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="coursgroupesApp.subGroup.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-subGroup-heading" v-text="$t('coursgroupesApp.subGroup.delete.question', {'id': removeId})">Are you sure you want to delete this Sub Group?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-subGroup" v-text="$t('entity.action.delete')" v-on:click="removeSubGroup()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./sub-group.component.ts">
</script>
