<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('coursgroupesApp.cours.home.title')" id="cours-heading">Cours</span>
            <router-link :to="{name: 'CoursCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cours">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('coursgroupesApp.cours.home.createLabel')">
                    Create a new Cours
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && cours && cours.length === 0">
            <span v-text="$t('coursgroupesApp.cours.home.notFound')">No cours found</span>
        </div>
        <div class="table-responsive" v-if="cours && cours.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('coursgroupesApp.cours.symbol')">Symbol</span></th>
                    <th><span v-text="$t('coursgroupesApp.cours.name')">Name</span></th>
                    <th><span v-text="$t('coursgroupesApp.cours.description')">Description</span></th>
                    <th><span v-text="$t('coursgroupesApp.cours.variant')">Variant</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="cours in cours"
                    :key="cours.id">
                    <td>
                        <router-link :to="{name: 'CoursView', params: {coursId: cours.id}}">{{cours.id}}</router-link>
                    </td>
                    <td>{{cours.symbol}}</td>
                    <td>{{cours.name}}</td>
                    <td>{{cours.description}}</td>
                    <td>
                        <span v-for="(variant, i) in cours.variants" :key="variant.id">{{i > 0 ? ', ' : ''}}
                            <router-link class="form-control-static" :to="{name: 'VariantView', params: {variantId: variant.id}}">{{variant.name}}</router-link>
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'CoursView', params: {coursId: cours.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'CoursEdit', params: {coursId: cours.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(cours)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="coursgroupesApp.cours.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-cours-heading" v-text="$t('coursgroupesApp.cours.delete.question', {'id': removeId})">Are you sure you want to delete this Cours?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-cours" v-text="$t('entity.action.delete')" v-on:click="removeCours()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./cours.component.ts">
</script>
