<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="coursgroupesApp.cours.home.createOrEditLabel" v-text="$t('coursgroupesApp.cours.home.createOrEditLabel')">Create or edit a Cours</h2>
                <div>
                    <div class="form-group" v-if="cours.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="cours.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.cours.symbol')" for="cours-symbol">Symbol</label>
                        <input type="text" class="form-control" name="symbol" id="cours-symbol"
                            :class="{'valid': !$v.cours.symbol.$invalid, 'invalid': $v.cours.symbol.$invalid }" v-model="$v.cours.symbol.$model"  required/>
                        <div v-if="$v.cours.symbol.$anyDirty && $v.cours.symbol.$invalid">
                            <small class="form-text text-danger" v-if="!$v.cours.symbol.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.cours.symbol.maxLength" v-text="$t('entity.validation.maxlength', {max: 10})">
                                This field cannot be longer than 10 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.cours.name')" for="cours-name">Name</label>
                        <input type="text" class="form-control" name="name" id="cours-name"
                            :class="{'valid': !$v.cours.name.$invalid, 'invalid': $v.cours.name.$invalid }" v-model="$v.cours.name.$model"  required/>
                        <div v-if="$v.cours.name.$anyDirty && $v.cours.name.$invalid">
                            <small class="form-text text-danger" v-if="!$v.cours.name.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.cours.name.maxLength" v-text="$t('entity.validation.maxlength', {max: 70})">
                                This field cannot be longer than 70 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.cours.description')" for="cours-description">Description</label>
                        <textarea class="form-control" name="description" id="cours-description"
                            :class="{'valid': !$v.cours.description.$invalid, 'invalid': $v.cours.description.$invalid }" v-model="$v.cours.description.$model" ></textarea>
                    </div>
                    <div class="form-group">
                        <label v-text="$t('coursgroupesApp.cours.variant')" for="cours-variant">Variant</label>
                        <select class="form-control" id="cours-variant" multiple name="variant" v-model="cours.variants">
                            <option v-bind:value="getSelected(cours.variants, variantOption)" v-for="variantOption in variants" :key="variantOption.id">{{variantOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.cours.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./cours-update.component.ts">
</script>
