<template>
<div>
        <div class="col-10">
            <b-alert :show="dismissCountDown"
                     dismissible
                     :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
		</div>
    <div>
        <b-modal ref="removeEntity" id="removeEntity" >
        <span slot="modal-title"><span id="coursgroupesApp.subGroup.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
        <div class="modal-body">
            <p id="jhi-delete-subGroup-heading" v-text="$t('coursgroupesApp.subGroup.delete.question', {'id': removeId})">Are you sure you want to delete this Sub Group?</p>
        </div>
        <div slot="modal-footer">
            <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
            <button type="button" class="btn btn-primary" id="jhi-confirm-delete-subGroup" v-text="$t('entity.action.delete')" v-on:click="removeSubGroup()">Delete</button>
        </div>
    </b-modal>

        <b-modal ref="renameEntity" id="renameEntity" >
        <span slot="modal-title"><span id="coursgroupesApp.subGroup.rename.question" v-text="$t('entity.rename.title')">Renommer le sous-groupe</span></span>
        <div class="modal-body">
            <p id="jhi-rename-subGroup-heading" v-text="$t('coursgroupesApp.subGroup.rename.question', {'name': renameName})">Quel est le nouveau nom du sous-groupe?</p>

            <input type="text" class="form-control" name="name" id="rename-sub-group-name" v-model="renameName"    />
        </div>
        <div slot="modal-footer">
            <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
            <button type="button" class="btn btn-primary" id="jhi-confirm-rename-subGroup" v-text="$t('entity.action.rename')" v-on:click="renameSubGroup()">Rename</button>
        </div>
    </b-modal>

        <b-modal ref="changeStudents" id="changeStudents" >
            <span slot="modal-title"><span id="coursgroupesApp.subGroup.changestudents" v-text="$t('coursgroupesApp.group.modifyStudentList')">Changer la liste d'étudiants</span></span>
            <div class="modal-body">
                <select class="form-control" id="sub-group-student" multiple name="student" v-model="obj.students">
                    <option v-bind:value="getSelected(obj.students, studentOption)" v-for="studentOption in students" :key="studentOption.id">{{studentOption.email}}</option>
                </select>


            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-primary" id="jhi-confirm-changestudents" v-text="$t('entity.action.save')" v-on:click="closeDialog()">Close</button>
            </div>
        </b-modal>

        <div class="col-10">
            <div>
                 <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('coursgroupesApp.subGroup.name')">Name</span>


                    </dt>
                    <dd>
                        <!--<span> {{obj.name}}</span>-->
                        <input type="text"    v-model="obj.name"   name="name" id="sub-group-name" class="form-control dynamic"   />

                        <!--
                        <b-button v-on:click="prepareRename(obj)"
                                  variant="info"
                                  class="btn btn-sm"
                                  v-b-modal.renameEntity>
                            <font-awesome-icon icon="times"></font-awesome-icon>
                            <span class="d-none d-md-inline" v-text="$t('entity.action.rename')">Rename</span>
                        </b-button>
-->
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.subGroup.student')">Student</span>
                    </dt>
                    <dd>

                        <div style="max-height: 250px;overflow-y: scroll;border: 1px solid #eee;margin-bottom: 20px;"  v-if="!creationMode && !modifStudent">
                            <p  v-for="(student, i) in obj.students" :key="student.id" >{{student.email}}</p>
                        </div>


                        <!--
                        <router-link :to="{name: 'SubGroupEdit', params: {subGroupId: obj.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                            <span class="d-none d-md-inline" v-text="$t('entity.action.editstudents')">Edit</span>
                        </router-link>
                        -->

                        <b-button v-on:click="prepareChangeStudents()"
                                  class="btn btn-secondary"
                                  v-b-modal.changestudents>
                            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                            <span class="d-none d-md-inline" v-text="$t('coursgroupesApp.group.modifyStudentList')">changestudents</span>
                        </b-button>
                    </dd>
                </dl>

                <button type="button" v-if="obj.id" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="reload()">Cancel</button>
                <button type="button" v-if="obj.id" class="btn btn-primary" id="jh-save-subGroup" v-text="$t('entity.action.save')" v-on:click="save()">Save</button>
                <button type="button" v-if="! obj.id" class="btn btn-primary" id="jh-save-subGroup" v-text="$t('entity.action.create')" v-on:click="save()">Create</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b-button v-if="obj.id"
                          v-on:click="prepareRemove(obj)"
                          variant="danger"
                          class="btn btn-primary"
                          v-b-modal.removeEntity>
                          <font-awesome-icon icon="trash"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
            </div>
        </div>
    </div>
</div>
    </template>

<script lang="ts" src="./sub-group.component.ts">
</script>
