<template>
    <b-navbar class="jh-navbar" toggleable="md" type="dark">
        <b-navbar-brand b-link class="logo" to="/">
            <span class="logo-img"></span>
            <span class="navbar-title" v-text="$t('global.title')">coursgroupes</span> <span
            class="navbar-version">{{ version }}</span>
        </b-navbar-brand>
        <b-navbar-toggle
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="jh-navbar-toggler d-lg-none"
            data-toggle="collapse"
            href="javascript:void(0);"
            right
            target="header-tabs">
            <font-awesome-icon icon="bars"/>
        </b-navbar-toggle>

        <b-collapse id="header-tabs" is-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-item
                    v-if="!behindGateway"
                    exact
                    to="/">
                    <span>
                        <font-awesome-icon icon="home"/>
                        <span v-text="$t('global.menu.home')">Home</span>
                    </span>
                </b-nav-item>
                <b-nav-item
                    v-if="behindGateway"
                    exact
                    href="/">

                    <span>
                        <font-awesome-icon icon="home"/>
                        <span v-text="$t('global.menu.home')">Home</span>
                    </span>
                </b-nav-item>
                <b-nav-item-dropdown
                    v-if="authenticated && !behindGateway"
                    id="entity-menu"
                    active-class="active"
                    class="pointer" right>
                    <span slot="button-content" class="navbar-dropdown-menu">
                        <font-awesome-icon icon="th-list"/>
                        <span v-text="$t('global.menu.entities.main')">Entities</span>
                    </span>
                    <b-dropdown-item to="/cours">
                        <font-awesome-icon icon="asterisk"/>
                        <span v-text="$t('global.menu.entities.cours')">Cours</span>
                    </b-dropdown-item>
                    <b-dropdown-item to="/variant">
                        <font-awesome-icon icon="asterisk"/>
                        <span v-text="$t('global.menu.entities.variant')">Variant</span>
                    </b-dropdown-item>
                    <b-dropdown-item to="/group">
                        <font-awesome-icon icon="asterisk"/>
                        <span v-text="$t('global.menu.entities.group')">Group</span>
                    </b-dropdown-item>
                    <b-dropdown-item to="/sub-group">
                        <font-awesome-icon icon="asterisk"/>
                        <span v-text="$t('global.menu.entities.subGroup')">SubGroup</span>
                    </b-dropdown-item>
                    <b-dropdown-item to="/workshop">
                        <font-awesome-icon icon="asterisk"/>
                        <span v-text="$t('global.menu.entities.workshop')">Workshop</span>
                    </b-dropdown-item>
                    <b-dropdown-item to="/student">
                        <font-awesome-icon icon="asterisk"/>
                        <span v-text="$t('global.menu.entities.student')">Student</span>
                    </b-dropdown-item>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </b-nav-item-dropdown>
                <b-nav-item-dropdown
                    v-if="hasAnyAuthority('ROLE_ADMIN') && authenticated && !behindGateway"
                    id="admin-menu"
                    :class="{'router-link-active': subIsActive('/admin')}"
                    active-class="active"
                    class="pointer"
                    right>
                    <span slot="button-content" class="navbar-dropdown-menu">
                        <font-awesome-icon icon="cogs"/>
                        <span v-text="$t('global.menu.admin.main')">Administration</span>
                    </span>
                    <b-dropdown-item active-class="active" to="/admin/jhi-tracker">
                        <font-awesome-icon icon="eye"/>
                        <span v-text="$t('global.menu.admin.tracker')">User tracker</span>
                    </b-dropdown-item>
                    <b-dropdown-item active-class="active" to="/admin/jhi-metrics">
                        <font-awesome-icon icon="tachometer-alt"/>
                        <span v-text="$t('global.menu.admin.metrics')">Metrics</span>
                    </b-dropdown-item>
                    <b-dropdown-item active-class="active" to="/admin/jhi-health">
                        <font-awesome-icon icon="heart"/>
                        <span v-text="$t('global.menu.admin.health')">Health</span>
                    </b-dropdown-item>
                    <b-dropdown-item active-class="active" to="/admin/jhi-configuration">
                        <font-awesome-icon icon="list"/>
                        <span v-text="$t('global.menu.admin.configuration')">Configuration</span>
                    </b-dropdown-item>
                    <b-dropdown-item active-class="active" to="/admin/audits">
                        <font-awesome-icon icon="bell"/>
                        <span v-text="$t('global.menu.admin.audits')">Audits</span>
                    </b-dropdown-item>
                    <b-dropdown-item active-class="active" to="/admin/logs">
                        <font-awesome-icon icon="tasks"/>
                        <span v-text="$t('global.menu.admin.logs')">Logs</span>
                    </b-dropdown-item>
                    <b-dropdown-item v-if="swaggerEnabled" active-class="active" to="/admin/docs">
                        <font-awesome-icon icon="book"/>
                        <span v-text="$t('global.menu.admin.apidocs')">API</span>
                    </b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item-dropdown v-if="languages && Object.keys(languages).length > 1" id="languagesnavBarDropdown"
                                     right>
                    <span slot="button-content">
                        <font-awesome-icon icon="flag"/>
                        <span v-text="$t('global.menu.language')">Language</span>
                    </span>
                    <b-dropdown-item v-for="(value, key) in languages" :key="`lang-${key}`"
                                     :class="{ active: isActiveLanguage(key)}"
                                     v-on:click="changeLanguage(key);">
                        {{ value.name }}
                    </b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item-dropdown
                    v-if="!behindGateway"
                    id="account-menu"
                    :class="{'router-link-active': subIsActive('/account')}"
                    active-class="active"
                    class="pointer"
                    href="javascript:void(0);"
                    right>
                    <span slot="button-content" class="navbar-dropdown-menu">
                        <font-awesome-icon icon="user"/>
                        <span v-text="$t('global.menu.account.main')">
                            Account
                        </span>
                    </span>
                    <b-dropdown-item v-if="authenticated" id="logout" active-class="active" v-on:click="logout()">
                        <font-awesome-icon icon="sign-out-alt"/>
                        <span v-text="$t('global.menu.account.logout')">Sign out</span>
                    </b-dropdown-item>
                    <b-dropdown-item v-if="!authenticated" id="login" active-class="active" v-on:click="openLogin()">
                        <font-awesome-icon icon="sign-in-alt"/>
                        <span v-text="$t('global.menu.account.login')">Sign in</span>
                    </b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item v-if="authenticated && !behindGateway" id="teacher_page" to="/agitelier/teacher">
                    <span>Interface Prof</span>
                </b-nav-item>
                <b-nav-item v-if="authenticated && !behindGateway" id="student_page" to="/agitelier/student">
                    <span>Interface Étudiant</span>
                </b-nav-item>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<script lang="ts" src="./jhi-navbar.component.ts">
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* ==========================================================================
    Navbar
    ========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc;
}

.jh-navbar {
    background-color: #353d47;
    padding: 0.2em 1em;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active,
.jh-navbar .dropdown-item.active:focus,
.jh-navbar .dropdown-item.active:hover {
    background-color: #353d47;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
    span span {
        display: none;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    color: white;
}

/* ==========================================================================
    Logo styles
    ========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.logo-img {
    height: 100%;
    background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
    background-size: contain;
    width: 100%;
    filter: drop-shadow(0 0 0.05rem white);
}
</style>
