<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="workshop">
                <h2 class="jh-entity-heading"><span v-text="$t('coursgroupesApp.workshop.detail.title')">Workshop</span> {{workshop.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('coursgroupesApp.workshop.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{workshop.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.workshop.url')">Url</span>
                    </dt>
                    <dd>
                        <span>{{workshop.url}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.workshop.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{workshop.description}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="workshop.id" :to="{name: 'WorkshopEdit', params: {workshopId: workshop.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./workshop-details.component.ts">
</script>
