<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="coursgroupesApp.workshop.home.createOrEditLabel" v-text="$t('coursgroupesApp.workshop.home.createOrEditLabel')">Create or edit a Workshop</h2>
                <div>
                    <div class="form-group" v-if="workshop.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="workshop.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.workshop.name')" for="workshop-name">Name</label>
                        <input type="text" class="form-control" name="name" id="workshop-name"
                            :class="{'valid': !$v.workshop.name.$invalid, 'invalid': $v.workshop.name.$invalid }" v-model="$v.workshop.name.$model"  required/>
                        <div v-if="$v.workshop.name.$anyDirty && $v.workshop.name.$invalid">
                            <small class="form-text text-danger" v-if="!$v.workshop.name.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.workshop.name.maxLength" v-text="$t('entity.validation.maxlength', {max: 30})">
                                This field cannot be longer than 30 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.workshop.url')" for="workshop-url">Url</label>
                        <input type="text" class="form-control" name="url" id="workshop-url"
                            :class="{'valid': !$v.workshop.url.$invalid, 'invalid': $v.workshop.url.$invalid }" v-model="$v.workshop.url.$model"  required/>
                        <div v-if="$v.workshop.url.$anyDirty && $v.workshop.url.$invalid">
                            <small class="form-text text-danger" v-if="!$v.workshop.url.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.workshop.description')" for="workshop-description">Description</label>
                        <textarea class="form-control" name="description" id="workshop-description"
                            :class="{'valid': !$v.workshop.description.$invalid, 'invalid': $v.workshop.description.$invalid }" v-model="$v.workshop.description.$model" ></textarea>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.workshop.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./workshop-update.component.ts">
</script>
