<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('coursgroupesApp.workshop.home.title')" id="workshop-heading">Workshops</span>
            <router-link :to="{name: 'WorkshopCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-workshop">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('coursgroupesApp.workshop.home.createLabel')">
                    Create a new Workshop
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && workshops && workshops.length === 0">
            <span v-text="$t('coursgroupesApp.workshop.home.notFound')">No workshops found</span>
        </div>
        <div class="table-responsive" v-if="workshops && workshops.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('coursgroupesApp.workshop.name')">Name</span></th>
                    <th><span v-text="$t('coursgroupesApp.workshop.url')">Url</span></th>
                    <th><span v-text="$t('coursgroupesApp.workshop.description')">Description</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="workshop in workshops"
                    :key="workshop.id">
                    <td>
                        <router-link :to="{name: 'WorkshopView', params: {workshopId: workshop.id}}">{{workshop.id}}</router-link>
                    </td>
                    <td>{{workshop.name}}</td>
                    <td>{{workshop.url}}</td>
                    <td>{{workshop.description}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'WorkshopView', params: {workshopId: workshop.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'WorkshopEdit', params: {workshopId: workshop.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(workshop)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="coursgroupesApp.workshop.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-workshop-heading" v-text="$t('coursgroupesApp.workshop.delete.question', {'id': removeId})">Are you sure you want to delete this Workshop?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-workshop" v-text="$t('entity.action.delete')" v-on:click="removeWorkshop()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./workshop.component.ts">
</script>
