<template>
    <b-container>
        <b-row>
            <b-col md="5">
                <h1 v-text="$t('coursgroupesApp.group.home.title')"></h1>
                <TableTest :data="groupsList" :selectedObj="selectedGroup" :typeObj="GROUP"
                           title="Groupes" @select="selection(GROUP, $event)"></TableTest>
            </b-col>

            <b-col v-if="selectedGroup != null" md="6">
                <h1 id="variant-title" v-text="$t('coursgroupesApp.variant.home.title')"></h1>
                {{ service }}
                <VariantView :accountID="accountID" :group="selectedGroup" :variants="selectedGroup.cours.variants">
                </VariantView>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts" src="./student.component.ts">
</script>
