<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('coursgroupesApp.cours.symbol')">Symbol</span>
                    </dt>
                    <dd>
                        <span>{{ obj.symbol }}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.cours.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{ obj.name }}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.cours.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{ obj.description }}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.cours.variant')">Variant</span>
                    </dt>
                    <dd>
                        <span v-for="(variant, i) in obj.variants" :key="variant.id">{{ i > 0 ? ', ' : '' }}
                            <router-link
                                :to="{name: 'VariantView', params: {variantId: variant.id}}">{{ variant.name }}</router-link>
                        </span>
                    </dd>
                </dl>
            </div>

        </div>

    </div>
</template>

<script lang="ts" src="../../teacher_view/components/cours-details.component.ts">
</script>

<script>
export default {
    props: {
        obj: Object
    }
}

</script>
