<template>
    <div>
        <div v-if="!isFetching && variants && variants.length === 0" class="alert alert-warning">
            <span v-text="$t('coursgroupesApp.variant.home.notFound')">No variants found</span>
        </div>
        <div v-if="variants && variants.length > 0" class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('coursgroupesApp.variant.name')">Name</span></th>
                    <th><span v-text="$t('coursgroupesApp.variant.description')">Description</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="variant in variants"
                    :key="variant.id">
                    <td>
                        <router-link :to="{
                            name: 'LienVariant',
                            params: {workshopName: variant.workshop.name,
                            variantId: variant.name,
                            subGroupId: getSubGroupID()}}">
                            {{ variant.name }}
                        </router-link>
                    </td>
                    <td>{{ variant.description }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script lang="ts" src="./variant.component.ts">
</script>
