<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="group">
                <h2 class="jh-entity-heading"><span v-text="$t('coursgroupesApp.group.detail.title')">Group</span> {{group.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('coursgroupesApp.group.number')">Number</span>
                    </dt>
                    <dd>
                        <span>{{group.number}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.group.teacherID')">Teacher ID</span>
                    </dt>
                    <dd>
                        <span>{{group.teacherID}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.group.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{group.description}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.group.student')">Student</span>
                    </dt>
                    <dd>
                        <span v-for="(student, i) in group.students" :key="student.id">{{i > 0 ? ', ' : ''}}
                            <router-link :to="{name: 'StudentView', params: {studentId: student.id}}">{{student.email}}</router-link>
                        </span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.group.cours')">Cours</span>
                    </dt>
                    <dd>
                        <div v-if="group.cours">
                            <router-link :to="{name: 'CoursView', params: {coursId: group.cours.id}}">{{group.cours.symbol}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="group.id" :to="{name: 'GroupEdit', params: {groupId: group.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./group-details.component.ts">
</script>
