<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="coursgroupesApp.group.home.createOrEditLabel" v-text="$t('coursgroupesApp.group.home.createOrEditLabel')">Create or edit a Group</h2>
                   <b-alert :show="dismissCountDown"
                            dismissible
                            :variant="alertType"
                            @dismissed="dismissCountDown=0"
                            @dismiss-count-down="countDownChanged">
                            {{alertMessage}}
                        </b-alert>
                        <br/>
                <div>
                    <div class="form-group" v-if="group.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="group.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.group.number')" for="group-number">Number</label>
                        <input type="number" class="form-control" name="number" id="group-number"
                            :class="{'valid': !$v.group.number.$invalid, 'invalid': $v.group.number.$invalid }" v-model.number="$v.group.number.$model"  required/>
                        <div v-if="$v.group.number.$anyDirty && $v.group.number.$invalid">
                            <small class="form-text text-danger" v-if="!$v.group.number.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.group.number.min" v-text="$t('entity.validation.min', {min: 0})">
                                This field should be at least 0.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.group.number.max" v-text="$t('entity.validation.max', {max: 99})">
                                This field cannot be longer than 99 characters.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.group.number.numeric" v-text="$t('entity.validation.number')">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.group.teacherID')" for="group-teacherID">Teacher ID</label>
                        <input type="text" class="form-control" name="teacherID" id="group-teacherID"
                            :class="{'valid': !$v.group.teacherID.$invalid, 'invalid': $v.group.teacherID.$invalid }" v-model="$v.group.teacherID.$model"  required/>
                        <div v-if="$v.group.teacherID.$anyDirty && $v.group.teacherID.$invalid">
                            <small class="form-text text-danger" v-if="!$v.group.teacherID.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.group.teacherID.maxLength" v-text="$t('entity.validation.maxlength', {max: 70})">
                                This field cannot be longer than 70 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.group.description')" for="group-description">Description</label>
                        <textarea class="form-control" name="description" id="group-description"
                            :class="{'valid': !$v.group.description.$invalid, 'invalid': $v.group.description.$invalid }" v-model="$v.group.description.$model" ></textarea>
                    </div>
                    <div class="form-group">
                        <label v-text="$t('coursgroupesApp.group.student')" for="group-student">Student</label>
                        [<select class="form-control" id="group-student" multiple name="student" v-model="group.students">
                            <option v-bind:value="getSelected(group.students, studentOption)" v-for="studentOption in students" :key="studentOption.id">{{studentOption.email}}</option>
                        </select>]
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.group.cours')" for="group-cours">Cours</label>
                        <select class="form-control" id="group-cours" name="cours" v-model="group.cours" required>
                            <option v-if="!group.cours" v-bind:value="null" selected></option>
                            <option v-bind:value="group.cours && coursOption.id === group.cours.id ? group.cours : coursOption" v-for="coursOption in cours" :key="coursOption.id">{{coursOption.symbol}}</option>
                        </select>
                    </div>
                    <div v-if="$v.group.cours.$anyDirty && $v.group.cours.$invalid">
                        <small class="form-text text-danger" v-if="!$v.group.cours.required" v-text="$t('entity.validation.required')">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.group.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./group-update.component.ts">
</script>
