<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('coursgroupesApp.variant.home.title')" id="variant-heading">Variants</span>
            <router-link :to="{name: 'VariantCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-variant">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('coursgroupesApp.variant.home.createLabel')">
                    Create a new Variant
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && variants && variants.length === 0">
            <span v-text="$t('coursgroupesApp.variant.home.notFound')">No variants found</span>
        </div>
        <div class="table-responsive" v-if="variants && variants.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('coursgroupesApp.variant.name')">Name</span></th>
                    <th><span v-text="$t('coursgroupesApp.variant.description')">Description</span></th>
                    <th><span v-text="$t('coursgroupesApp.variant.workshop')">Workshop</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="variant in variants"
                    :key="variant.id">
                    <td>
                        <router-link :to="{name: 'VariantView', params: {variantId: variant.id}}">{{variant.id}}</router-link>
                    </td>
                    <td>{{variant.name}}</td>
                    <td>{{variant.description}}</td>
                    <td>
                        <div v-if="variant.workshop">
                            <router-link :to="{name: 'WorkshopView', params: {workshopId: variant.workshop.id}}">{{variant.workshop.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'VariantView', params: {variantId: variant.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'VariantEdit', params: {variantId: variant.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(variant)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="coursgroupesApp.variant.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-variant-heading" v-text="$t('coursgroupesApp.variant.delete.question', {'id': removeId})">Are you sure you want to delete this Variant?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-variant" v-text="$t('entity.action.delete')" v-on:click="removeVariant()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./variant.component.ts">
</script>
