<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="variant">
                <h2 class="jh-entity-heading"><span v-text="$t('coursgroupesApp.variant.detail.title')">Variant</span> {{variant.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('coursgroupesApp.variant.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{variant.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.variant.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{variant.description}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.variant.workshop')">Workshop</span>
                    </dt>
                    <dd>
                        <div v-if="variant.workshop">
                            <router-link :to="{name: 'WorkshopView', params: {workshopId: variant.workshop.id}}">{{variant.workshop.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="variant.id" :to="{name: 'VariantEdit', params: {variantId: variant.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./variant-details.component.ts">
</script>
