<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="coursgroupesApp.variant.home.createOrEditLabel" v-text="$t('coursgroupesApp.variant.home.createOrEditLabel')">Create or edit a Variant</h2>
                <div>
                    <div class="form-group" v-if="variant.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="variant.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.variant.name')" for="variant-name">Name</label>
                        <input type="text" class="form-control" name="name" id="variant-name"
                            :class="{'valid': !$v.variant.name.$invalid, 'invalid': $v.variant.name.$invalid }" v-model="$v.variant.name.$model"  required/>
                        <div v-if="$v.variant.name.$anyDirty && $v.variant.name.$invalid">
                            <small class="form-text text-danger" v-if="!$v.variant.name.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.variant.name.maxLength" v-text="$t('entity.validation.maxlength', {max: 50})">
                                This field cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.variant.description')" for="variant-description">Description</label>
                        <textarea class="form-control" name="description" id="variant-description"
                            :class="{'valid': !$v.variant.description.$invalid, 'invalid': $v.variant.description.$invalid }" v-model="$v.variant.description.$model"  required></textarea>
                        <div v-if="$v.variant.description.$anyDirty && $v.variant.description.$invalid">
                            <small class="form-text text-danger" v-if="!$v.variant.description.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.variant.workshop')" for="variant-workshop">Workshop</label>
                        <select class="form-control" id="variant-workshop" name="workshop" v-model="variant.workshop" required>
                            <option v-if="!variant.workshop" v-bind:value="null" selected></option>
                            <option v-bind:value="variant.workshop && workshopOption.id === variant.workshop.id ? variant.workshop : workshopOption" v-for="workshopOption in workshops" :key="workshopOption.id">{{workshopOption.name}}</option>
                        </select>
                    </div>
                    <div v-if="$v.variant.workshop.$anyDirty && $v.variant.workshop.$invalid">
                        <small class="form-text text-danger" v-if="!$v.variant.workshop.required" v-text="$t('entity.validation.required')">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.variant.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./variant-update.component.ts">
</script>
