<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="coursgroupesApp.student.home.createOrEditLabel" v-text="$t('coursgroupesApp.student.home.createOrEditLabel')">Create or edit a Student</h2>
                <div>
                    <div class="form-group" v-if="student.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="student.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('coursgroupesApp.student.email')" for="student-email">Email</label>
                        <input type="text" class="form-control" name="email" id="student-email"
                            :class="{'valid': !$v.student.email.$invalid, 'invalid': $v.student.email.$invalid }" v-model="$v.student.email.$model"  required/>
                        <div v-if="$v.student.email.$anyDirty && $v.student.email.$invalid">
                            <small class="form-text text-danger" v-if="!$v.student.email.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.student.email.maxLength" v-text="$t('entity.validation.maxlength', {max: 70})">
                                This field cannot be longer than 70 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.student.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./student-update.component.ts">
</script>
