<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <!-- <span v-if="!(obj instanceof Cours)">{{obj.name}}</span> -->

            <div>
                <h2 class="jh-entity-heading"><span v-text="$t('coursgroupesApp.cours.detail.title')">Cours</span> </h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('coursgroupesApp.cours.symbol')">Symbol</span>
                    </dt>
                    <dd>
                        <span>{{obj.symbol}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.cours.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{obj.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.cours.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{obj.description}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('coursgroupesApp.cours.variant')">Variant</span>
                    </dt>
                    <dd>
                        <span v-for="(variant, i) in obj.variants" :key="variant.id">{{i > 0 ? ', ' : ''}}
                            <router-link :to="{name: 'VariantView', params: {variantId: variant.id}}">{{variant.name}}</router-link>
                        </span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="obj.id" :to="{name: 'CoursEdit', params: {coursId: obj.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>

        </div>

    </div>
</template>

<script lang="ts" src="./cours-details.component.ts">
</script>

<script>
export default {
    props: {
        obj: Object
    }
}

</script>
