<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="coursgroupesApp.cours.home.createOrEditLabel" v-text="$t('coursgroupesApp.cours.home.createOrEditLabel')">Create or edit a Cours</h2>
                <div>
                    <div class="form-group" v-if="obj.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="coursSelected.id" readonly />
                    </div>

                </div>

            </form>
        </div>
    </div>
</template>

<script lang="ts" src="./cours-update.component.ts"></script>
