<template>
    <div>
            <div class="col-10">
                <b-alert :show="dismissCountDown"
                         :variant="alertType"
                         dismissible
                         @dismissed="dismissCountDown=0"
                         @dismiss-count-down="countDownChanged">
                    {{ alertMessage }}
                </b-alert>
            </div>
            <div class="col-10">
                <form name="editForm" novalidate role="form" v-on:submit.prevent="save()">
                    <div>
                        <div v-if="cours.id" class="form-group">
                            <label for="id" v-text="$t('global.field.id')">ID</label>
                            <input id="id" v-model="cours.id" class="form-control" name="id" readonly type="text"/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="cours-symbol"
                                   v-text="$t('coursgroupesApp.cours.symbol')">Symbol</label>
                            <input id="cours-symbol" v-model="$v.cours.symbol.$model" :class="{'valid': !$v.cours.symbol.$invalid, 'invalid': $v.cours.symbol.$invalid }" class="form-control"
                                   name="symbol"
                                   required type="text"/>
                            <div v-if="$v.cours.symbol.$anyDirty && $v.cours.symbol.$invalid">
                                <small v-if="!$v.cours.symbol.required" class="form-text text-danger"
                                       v-text="$t('entity.validation.required')">
                                    This field is required.
                                </small>
                                <small v-if="!$v.cours.symbol.maxLength" class="form-text text-danger"
                                       v-text="$t('entity.validation.maxlength', {max: 10})">
                                    This field cannot be longer than 10 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="cours-name"
                                   v-text="$t('coursgroupesApp.cours.name')">Name</label>
                            <input id="cours-name" v-model="$v.cours.name.$model" :class="{'valid': !$v.cours.name.$invalid, 'invalid': $v.cours.name.$invalid }" class="form-control"
                                   name="name"
                                   required type="text"/>
                            <div v-if="$v.cours.name.$anyDirty && $v.cours.name.$invalid">
                                <small v-if="!$v.cours.name.required" class="form-text text-danger"
                                       v-text="$t('entity.validation.required')">
                                    This field is required.
                                </small>
                                <small v-if="!$v.cours.name.maxLength" class="form-text text-danger"
                                       v-text="$t('entity.validation.maxlength', {max: 70})">
                                    This field cannot be longer than 70 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="cours-description"
                                   v-text="$t('coursgroupesApp.cours.description')">Description</label>
                            <textarea id="cours-description" v-model="$v.cours.description.$model" :class="{'valid': !$v.cours.description.$invalid, 'invalid': $v.cours.description.$invalid }"
                                      class="form-control"
                                      name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="cours-variant" v-text="$t('coursgroupesApp.cours.variant')">Variant</label>
                            <select id="cours-variant" v-model="cours.variants" class="form-control" multiple
                                    name="variant">
                                <option v-for="variantOption in variants"
                                        :key="variantOption.id" v-bind:value="getSelected(cours.variants, variantOption)">
                                    {{ variantOption.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button id="cancel-save" class="btn btn-secondary" type="button" v-on:click="previousState()">
                            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span
                            v-text="$t('entity.action.cancel')">Cancel</span>
                        </button>
                        <button id="save-entity" :disabled="$v.cours.$invalid || isSaving" class="btn btn-primary"
                                type="submit">
                            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span
                            v-text="$t('entity.action.save')">Save</span>
                        </button>
                        <b-button v-b-modal.removeEntity
                                  class="btn btn-primary"
                                  variant="danger"
                                  v-on:click="prepareRemove(cours)">
                            <font-awesome-icon icon="trash"></font-awesome-icon>
                            <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                        </b-button>
                    </div>
                    <b-modal id="removeEntity" ref="removeEntity">
                        <span slot="modal-title"><span id="coursgroupesApp.cours.delete.question"
                                                       v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
                        <div class="modal-body">
                            <p id="jhi-delete-cours-heading"
                               v-text="$t('coursgroupesApp.cours.delete.question', {'id': removeId})">Are you sure you
                                want to delete this Cours?</p>
                        </div>
                        <div slot="modal-footer">
                            <button class="btn btn-secondary" type="button" v-on:click="closeDialog()"
                                    v-text="$t('entity.action.cancel')">Cancel
                            </button>
                            <button id="jhi-confirm-delete-cours" class="btn btn-primary" type="button"
                                    v-on:click="removeCours()" v-text="$t('entity.action.delete')">Delete
                            </button>
                        </div>
                    </b-modal>
                </form>
            </div>
            <button type="button" class="btn btn-secondary" v-on:click="showVariants('CALCFORMS')">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span class="d-none d-md-inline" v-text="$t('coursgroupesApp.variant.ajoutcalcform')">CalcForms</span>
            </button>
            <button type="button" class="btn btn-secondary" @click="showVariants('VALUESTREAM')">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span class="d-none d-md-inline" v-text="$t('coursgroupesApp.variant.ajoutvalueStream')">ValueStream</span>
            </button>
            <b-modal ref="variantsList" id="variantsList">
                <span slot="modal-title"><span id="coursgroupesApp.variant.detail.title" v-text="$t('coursgroupesApp.variant.detail.title')">Variant List</span></span>
                    <div class="modal-body">
                        <VariantsView :type="selectedWorkshop" :variants="variantsList"></VariantsView>
                    </div>
                    <div slot="modal-footer">
                        <button type="button" class="btn btn-primary" id="jhi-close" v-text="$t('entity.action.close')" v-on:click="hideVariants()">Close</button>
                    </div>
            </b-modal>
        </div>
</template>
<script lang="ts" src="./cours-view.component.ts">
</script>

